<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    table {
        width: 80%;
        margin: 20px auto;
        border-collapse: collapse;
    }
    th, td {
        border: 1px solid black;
        padding: 10px;
        text-align: left;
    }
    th {
        background-color: #f2f2f2;
    }
</style>
<style>
    
    .box-container{
        display: flex;
        justify-content: space-around;
    }
    .box{
        padding: 30px 40px;
        border: 1px solid black;
        border-radius: 10px;
        text-align: center;
        display: flex;
        align-items: center;
        gap: 5px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        flex-wrap:wrap;
    }
</style>
<body>
    <div class="box-container">
        <div class="box">
Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores, aliquid?
        </div>
        <div class="box">
Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reprehenderit, repudiandae.
        </div>
        <div class="box">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Pariatur, culpa?
        </div>
    
    </div>
    <table>
        <tr>
            <th>First Name</th>
            <th>last Name</th>
        </tr>
        <tr>
            <td>Vijit </td>
            <td>Verma</td>
        </tr>
    </table>
</body>
</html>