<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Render JSON Data</title>
    <style>
        table {
            width: 80%;
            margin: 20px auto;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid black;
            padding: 10px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
        .box-container {
            display: flex;
            justify-content: space-around;
            margin-bottom: 20px;
        }
        .box {
            padding: 30px 40px;
            border: 1px solid black;
            border-radius: 10px;
            text-align: center;
            display: flex;
            align-items: center;
            gap: 5px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            flex-wrap: wrap;
        }
    </style>
</head>
<body>

    <div class="box-container">
        <div class="box">Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
        <div class="box">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</div>
        <div class="box">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</div>
    </div>

    <table>
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
            </tr>
        </thead>
        <tbody>
            <% users.forEach(user => { %>
                <tr>
                    <td><%= user.first_name %></td>
                    <td><%= user.last_name %></td>
                </tr>
            <% }) %>
        </tbody>
    </table>

</body>
</html>
